.two_way_container {

    margin-top: 40px;
}


.chat_container {
    flex: 1;
}

/* .video_ui_container {
    flex: 3;
} */

.video {

    /* width: 400px !important; */
    height: 60vh;
    width: 100% !important;
}

#localVideo {
    /* width: 90% !important; */
    border-radius: 10px;
    /* min-width: 90%; */
    /* min-height: 100%; */
    object-fit: fill;
    /* flex: 1; */
}

#videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh !important;
    /* position: absolute; */
    /* top: 10px; */
    /* left: 20px; */
    /* bottom: -200px; */
    padding: 0 10px;
    gap: 10px !important;
    margin-right: 20px;
    border-radius: 20px;
    overflow: scroll;
}

.remoteVideo video {
    /* background-color: blueviolet; */
    /* height: 200px; */
    /* width: 200px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    width: 100% !important;
    /* flex: 1; */
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}

/* .users_feed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

} */

/* #videoContainer div {
    background-color: brown;
} */

/* .remoteVideo {
    background-color: red;
} */

/* .remoteVideo {
    border-radius: 10px !important;
} */